@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
@import "tailwindcss" prefix(ui);

@layer ui {
  .ui * {
    all: revert;
  }
}
:root {
  --ui-color-red: #c73b0f;

  --ui-color-rose-900: #260f08;
  --ui-color-rose-500: #87635a;
  --ui-color-rose-400: #ad8a85;
  --ui-color-rose-300: #caafa7;
  --ui-color-rose-100: #f5eeec;
  --ui-color-rose-50: #fcf8f6;

  --ui-color-green: #1ea575;
}

@theme {
  --color-primary: var(--ui-color-red);
  --color-secondary: color-mix(in srgb, var(--ui-color-red), black 25%);
  --color-accent: var(--ui-color-rose-400);

  --color-text-default: var(--ui-color-rose-900);
  --color-text-on-hover: white;
  --color-text-on-surface: var(--ui-color-red);
  --color-text-caption: var(--ui-color-rose-500);

  --color-icon-default: var(--ui-color-rose-400);
  --color-icon-on-hover: var(--ui-color-rose-900);
  --color-icon-on-surface: white;
  --color-success: var(--ui-color-green);

  --color-background-default: var(--ui-color-rose-50);
  --color-background-modal: white;

  --color-button-primary: var(--ui-color-red);
  --color-button-primary-hover: color-mix(
    in srgb,
    var(--ui-color-red),
    black 25%
  );
  --color-button-secondary: white;
  --color-button-primary-text: white;
  --color-button-secondary-text: var(--ui-color-rose-900);
  --color-button-secondary-text-hover: var(--ui-color-red);

  --color-border-default: var(--ui-color-rose-400);
  --color-border-selected: var(--ui-color-red);

  --font-red-hat: "Red Hat Display", sans-serif;

  --text-base: 16px;
  --text-sm: 14px;
  --text-lg: 24px;
  --text-xl: 40px;

  --spacing: 8px;

  --breakpoint-sm: 375px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1440px;

  --radius-xs: 5px;
  --radius-sm: 10px;
  --radius-md: 15px;
  --radius-lg: 25px;

  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

@utility text-preset-1 {
  font-size: var(--ui-text-xl);
  line-height: 120%;
  letter-spacing: 0px;
  font-weight: bold;
}

@utility text-preset-2 {
  font-size: var(--ui-text-lg);
  line-height: 125%;
  letter-spacing: 0px;
  font-weight: bold;
}

@utility text-preset-3 {
  font-size: var(--ui-text-base);
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: bold;
}

@utility text-preset-4 {
  font-size: var(--ui-text-sm);
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: normal;
}

@utility text-preset-5 {
  font-size: var(--ui-text-sm);
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: var(--ui-font-weight-semibold);
}

@utility flex-row-center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@utility flex-row-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@utility flex-col-top-left {
  display: flex;
  flex-direction: column;
}

@layer base {
  html {
    @apply ui:font-red-hat;
  }

  button {
    @apply ui:cursor-pointer;
  }
}
